<h3>Template Only Component</h3>

{{#let (data-bag) as |data|}}
  {{#if data.showSomething}}
    [Here's your something]

    <button onclick={{action (mut data.showSomething) false}}>Hide</button>
  {{else}}
    <button onclick={{action (mut data.showSomething) true}}>Show</button>
  {{/if}}
{{/let}}
